TreasureHuntDesktopApplication/TreasureHuntDesktopApplication.FullClient/Service References/TreasureHuntService/TreasureHuntService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51416/TreasureHuntService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TreasureHuntDesktopApplication.Data" />
  <xs:import schemaLocation="http://localhost:51416/TreasureHuntService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SaveQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TreasureHuntDesktopApplication.Data" minOccurs="0" name="newQuestion" nillable="true" type="q1:question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveQuestionResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewHuntQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TreasureHuntDesktopApplication.Data" minOccurs="0" name="huntQuestion" nillable="true" type="q2:huntquestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewHuntQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewHunt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TreasureHuntDesktopApplication.Data" minOccurs="0" name="newHunt" nillable="true" type="q3:hunt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewHuntResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHuntQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TreasureHuntDesktopApplication.Data" minOccurs="0" name="hunt" nillable="true" type="q4:hunt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHuntQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHuntQuestionsResult" nillable="true" type="q5:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreasureHunts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreasureHuntsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TreasureHuntDesktopApplication.Data" minOccurs="0" name="GetTreasureHuntsResult" nillable="true" type="q6:ArrayOfhunt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TreasureHuntDesktopApplication.Data" minOccurs="0" name="GetQuestionResult" nillable="true" type="q7:question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TreasureHuntDesktopApplication.Data" minOccurs="0" name="updatedQuestion" nillable="true" type="q8:question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHuntBasedOnName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHuntBasedOnNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TreasureHuntDesktopApplication.Data" minOccurs="0" name="GetHuntBasedOnNameResult" nillable="true" type="q9:hunt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>