TreasureHuntDesktopApplication/TreasureHuntDesktopApplication.FullClient/Service References/TreasureHuntService/TreasureHuntService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TreasureHuntDesktopApplication.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TreasureHuntDesktopApplication.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51416/TreasureHuntService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="question">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Question1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuestionId" type="xs:long" />
          <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="huntquestions" nillable="true" type="tns:ArrayOfhuntquestion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="question" nillable="true" type="tns:question" />
  <xs:complexType name="ArrayOfhuntquestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="huntquestion" nillable="true" type="tns:huntquestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfhuntquestion" nillable="true" type="tns:ArrayOfhuntquestion" />
  <xs:complexType name="huntquestion">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="HuntId" type="xs:long" />
          <xs:element minOccurs="0" name="HuntQuestionId" type="xs:long" />
          <xs:element minOccurs="0" name="QuestionId" type="xs:long" />
          <xs:element minOccurs="0" name="hunt" nillable="true" type="tns:hunt" />
          <xs:element minOccurs="0" name="huntReference" nillable="true" type="q2:EntityReferenceOfhuntotu8m0Go" />
          <xs:element minOccurs="0" name="question" nillable="true" type="tns:question" />
          <xs:element minOccurs="0" name="questionReference" nillable="true" type="q2:EntityReferenceOfquestionotu8m0Go" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="huntquestion" nillable="true" type="tns:huntquestion" />
  <xs:complexType name="hunt">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="HuntId" type="xs:long" />
          <xs:element minOccurs="0" name="HuntName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="huntquestions" nillable="true" type="tns:ArrayOfhuntquestion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="hunt" nillable="true" type="tns:hunt" />
  <xs:complexType name="ArrayOfhunt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hunt" nillable="true" type="tns:hunt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfhunt" nillable="true" type="tns:ArrayOfhunt" />
</xs:schema>